body {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(93,162,177,1) 50%, rgba(154,57,90,1) 100%);
    text-align: center;
}

.container{
    
    background-color:darkcyan;
    max-width: 80%;
    margin: auto;
    border: 3px solid;
}

h1, h2 {
    text-align: center;
    text-decoration:solid;
    font-family:monospace;
    font-weight: bold;
    font-style: italic;
    color: azure;
    margin-top: 35px;
    margin-bottom: 20px;
}
button{
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: aquamarine;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 150px;
    border-radius: 5px;
    border-color: red;
}
